<plugin>
    <nom><multi>[fr]Maps-démo</multi></nom>
	<slogan>Carte street view google</slogan>
	<version>1.0</version>
	<version_base>1.0</version_base>
	<auteur>Vanessa Kovalsky
_ &#169; 2017 - Distribu&#233; sous licence GPL
	</auteur>
	<etat> <!-- Etat du plugin, au choix : dev (developpement), test, stable, experimental -->
	dev
	</etat>
	<description><multi>[fr]Intégration de carte Google Street View</multi></description>
    <prefix>maps_demo</prefix>
    <bouton id="maps">
        <titre>Maps</titre>
        <url>maps_demo</url>
    </bouton>    
</plugin>
